extends layout

block content
	h1.
		User List
	ul#searchlist
		each user, i in searchlist	
			li
				a(href="mailto:#{user.email}") #{user.sid} - #{user.email}
				p| #{user.apass} <><> #{user.tpass}
